<h1 class="heading">SisCat.wabtec.com</h1>
<nav class="main-nav">
  <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="/catlog" routerLinkActive="active">Catlog</a>
  <a mat-button routerLink="/frame-agreement" routerLinkActive="active"
    >Customer Frame agreement</a
  >
  <a mat-button routerLink="/Supplier-FA" routerLinkActive="active"
    >Supplier FA</a
  >
  <a mat-button routerLink="/Project" routerLinkActive="active">Project</a>
  <a mat-button routerLink="/rfa" routerLinkActive="active">RFQ</a>
  <a mat-button routerLink="/tasks" routerLinkActive="active">My Tasks</a>
  <a mat-button routerLink="/symle" routerLinkActive="active">SMYLE Adm</a>
  <a mat-button routerLink="/symle-on-demand" routerLinkActive="active"
    >SMYLE On demand</a
  >
  <a mat-button routerLink="/kpi" routerLinkActive="active">KPI</a>
  <a mat-button routerLink="/kpi-rfq" routerLinkActive="active">KPI RFQ</a>
</nav>
<div style="padding-left: 60px">
  <router-outlet></router-outlet>
</div>
