.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  padding: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
.mat-button {
  min-width: 150px;
  font-size: 15px;
  background-color: #dbdbdb;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 5px;
  border: 0.8px solid grey;
}
.active {
  background: none;
  border-bottom: none;
}
